
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0099cc;
  justify-content: center;
  box-shadow: 0 7px 9px rgba(0,0,0,0.12), 0 7px 9px rgba(0,0,0,0.24);
}

li {
  float: left;
  letter-spacing: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 27px 56px;
  text-decoration: none;
}

li a:hover {
  background-color: #80ffd4;
}

.active {
  background-color: red;
}

.flex-container {
            display: flex;
			justify-content: center;
        }
        
 .flex-container > div {
            background-color: #f1f1f1;
            width: 100%;
            margin: 10px;
            line-height: 5px;
            font-size: 30px;
        }
		

  .w3-row {
    background-color: lightblue;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
	
	.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 32% 32% 32%;
  
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
}

.image {
width:100%;
height: 40%;
}

@media screen and (max-width: 700px) { 
  ul.topnav li {float: none; }
  
    h2 
 {
 margin-top: -190px; 
 }
}
